.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.galeria img{
    width: 18%;
    border: 1px solid #ddd;
    padding: 0.3em;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 20px;
}