<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <div className="holder">
      <img src="/images/logo.png" width="100" alt="transporte" />
      <h1>Transporte 2023</h1>
    </div>
  </header>
  {{{body}}}
</body>

</html>