h1{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 55px;
color: white;
text-align: center;
text-decoration: underline;     
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}
#curriculum{
    margin: 20px 30px;

}
img{
    margin: 10px 10px;
    display:inline;
    border: 1px solid black;
    border-radius: 50%;
    width: 350px;
    height: 300px;
}
#foto{
  display: flex;
  justify-content:right;
    
}
 
.conteiner{
    position: relative;
    margin: 0 200px;
    width: 800px;
    height: 1200px;
    background-color:#4DACFA;
    border: 1px solid black;
}

body{
    background-image: linear-gradient(to right, black ,#06C0FB );
}
#datosPersonales{

 margin-left:15px;
}
#hobbies{

    margin-left:15px;
}
#viajes{

    margin-left:15px;
}
#contacto{

    margin-left:15px;
}
#formContacto{

    margin-left:15px;
}