/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



/*-------------------------------------------------*/
body{
  font-size: 16px;
  line-height: 20px;
}
header{
  background-color: rgb(59, 59, 161);
  padding: 16px 0;
}
header h1{
  color: white;
  font-size: 40px;
  font-weight: 100;
  font-family: italic;
  display: inline-block;
  position: relative;
  bottom: 35px;
  margin-left: 10px;

}

.nav{
  background-color: #6da9ed;
  margin-bottom: 20px;
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

}

nav ul li{
  flex-grow: 1;
}

a{
  color: white;
  text-decoration: none;
  padding: 3px 6px;
  display: block;
  text-align: center;
}
a:hover{
  background-color: rgba(0,0,0,0.3);
}
.activo{
  background-color: rgba(0,0,0,0.3);
}
footer{
  background-color: #ccc;
  clear: both;
  color:#333;
  text-align: center;
  padding: 5px 0;
  margin-top: 20px;
}

.holder{
  max-width: 960px;
  margin: 0 auto;
}

h2{
  color: #2e64a1;
  font-weight: 400;
}

.bienvenidos{
  width: 75%;
  padding-right: 10px;
  box-sizing: border-box;
}
.bienvenidos p{
  font-size: 20px;
}
.testimonios{
  width: 25%;
}
.testimonio{
  background-color: #ccc;
  padding: 16px;
}
.testimonio .cita{
  font-weight: bold;
  font-family: italic;
  font-size: 22px;
  display: block;
}
.testimonio .autor{
  font-size: 10px;
  text-align: center;
  display: block;
  margin: 12px 0;
}
.columnas{
  display: flex;
  justify-content: space-between;
}
/* IMAGENES DE GALERIA */
.galeria{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.galeria img{
  width: 18%;
  border: 1px solid #ddd;
  padding: 0.3em;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-right: 20px;
}
/* NOSOTROS */

.historia p{
  font-size: 12px;

}

.personas{
  display: flex;
  justify-content: space-between;
}

.persona{
  border: 1px solid black;
  border-radius: 5px;
  width: 18%;
  text-align: center;
  padding: 13px;
  box-sizing: border-box;
}

.persona img{
  border-radius: 50%;
  max-width: 60%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.persona h5, .persona h6{
  margin: 0;
  font-weight: normal;
  color: #2e64a1;
}
.persona h5{
  font-size: 14px;
  margin-top: 5px;
}

.persona h6{
  font-size: 14px;
  font-family: italic;
}

 /* SERVICIOS */

 .servicio{
  border: 1px solid black;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  display: flex;
  gap: 32px;
  align-items: center;
}

.servicio .info h4{
  color: #2e64a1;
  font-weight: 500;
  font-style: italic;
  border-bottom: 1px solid #2e64a1;
  padding-bottom: 10px;
}

.servicio .info p{
  font-size: 13px;
}

.servicio img{
  border-radius: 15px;
  display: block;
  max-width: 225px;
}

.servicio:nth-child(even){
  flex-direction: row-reverse;
}